body{
    margin: 0;
}

#main{
    display: grid;
    grid-template-areas:  
    "header header header header"
    "nav nav nav nav"
    "section section aside aside"
    "footer footer footer footer";
    grid-template-rows: 100px 150px 120px 200px;
    grid-template-columns: 20vw 20vw 20vw 20vw;
} 

header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

header img{
    height: 60%;
    align-self:flex-start;
}

nav {
    grid-area: nav;
    background-color: rgb(8, 248, 216);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    grid-area: section;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}
section img{
    width: 60%;
    height: auto;
    align-self: flex-start; 
}


aside {
    grid-area: aside;
    background-color: rgb(126, 90, 47);
    display: flex;
   align-items: center;
   justify-content: space-around;
    flex-direction: column;

    
}
aside img{
    height:auto;
    width: 80%;
    align-self: flex-end;
}

footer {
    grid-area: footer;
    background-color: violet;
}
